<section id="add-favorites" class="section">
  <div class="container">
    <div class="row">
      <div class="column text text-left">
        <h3>Add to favorites</h3>

        <p>If you want to control a <b>Yeelight bulbs</b> you will have to add it to you <b>Favorites</b>.</p>

        <p>You'll then have to give it a name and an icon so that you can recognize it easily.</p>
      </div>

      <div class="column img">
        <img src="../img/add-favorites-screenshot.png">
      </div>
    </div>
  </div>
</section>
