<section id="control" class="section">
  <div class="container">
    <div class="row">
      <div class="column text text-left">
        <h3>Control</h3>

        <p>Here you will be able to change the color and brightness of your <b>Yeelight bulbs</b>.</p>

        <p>You can turn them on/off too.</p>
      </div>

      <div class="column img">
        <img src="../img/settings-screenshot.png">
      </div>
    </div>
  </div>
</section>
