<section id="discovered" class="section">
  <div class="container">
    <div class="row">
      <div class="column text text-left">
        <h3>Discovered</h3>

        <p>When the app launches, it will look for all the <b>Yeelight bulbs</b> available on your network.</p>

        <p>They will be displayed in the <b>Discovered</b> tab.</p>
      </div>

      <div class="column img">
        <img src="../img/discovered-screenshot.png">
      </div>
    </div>
  </div>
</section>
