<section id="favorites" class="section">
  <div class="container">
    <div class="row">
      <div class="column text text-left">
        <h3>Favorites</h3>

        <p>You will find all your connected favorite <b>Yeelight bulbs</b> in the <b>favorites</b> tab.</p>

        <p>You can now control one by clicking on it.</p>
      </div>

      <div class="column img">
        <img src="../img/favorites-screenshot.png">
      </div>
    </div>
  </div>
</section>
