<section id="herozone">
  <div class="herozone-content">
    <h1>Z-Yeelight</h1>
    <h2>Control your YeeLight bulbs from your computer.</h2>
    <div class="cta">
      <a class="btn" href="https://github.com/benavern/z-yeelight/releases">Download</a>
      <a class="btn" href="https://github.com/benavern/z-yeelight">Github</a>
    </div>
  </div>

  <div class="herozone-img">
    <img src="../img/favorites-screenshot.png">
  </div>
</section>
