#herozone {
  --section-bg: #{$primary};
  position: relative;
  overflow: hidden;

  .herozone-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    text-align: center;

    h1 {
      font-size: 2rem;

      @media(min-width: $breakpoint) {
        font-size: 3rem;
        letter-spacing: -.05em;
      }

      @media(min-width: 2 * $breakpoint) {
        font-size: 4rem;
      }
    }

    h2 {
      font-size: 1.5rem;
      font-style: italic;

      @media(min-width: $breakpoint) {
        font-size: 2rem;
      }

      @media(min-width: 2*$breakpoint) {
        font-size: 3rem;
      }
    }

    .cta {
      margin: .5em 0;

      @media(min-width: $breakpoint) {
        font-size: 1.25rem;
      }
    }
  }

  .herozone-img {
    position: absolute;
    bottom: -20%;
    height: 70%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
