*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background-color: $black;
}

body {
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: $white;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

h1 {
  font-size: 2rem;

  @media(min-width: $breakpoint) {
    font-size: 3rem;
  }

  @media(min-width: 2 * $breakpoint) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;

  @media(min-width: $breakpoint) {
    font-size: 2rem;
  }

  @media(min-width: 2*$breakpoint) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media(min-width: 2*$breakpoint) {
    font-size: 2.5rem;
  }
}

h1,
h2,
h3,
p {
  margin: .5em 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba($white, .5);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba($white, .2);
  font-style: italic;
}
