.container {
  width: 100%;
  height: 100%;
  max-width: 2 * $breakpoint;
  margin: 0 auto;
}

.section {
  background: radial-gradient(var(--section-bg, $primary), $black 90%);
  background-attachment: fixed;
  height: 100vh;
  padding: .5rem;
  overflow: hidden;

  @media (min-width: $breakpoint) {
    padding: 2rem;
  }
}

#discovered {
  --section-bg: #{$red};
}

#add-favorites {
  --section-bg: #{$orange};
}

#favorites {
  --section-bg: #{$blue};
}

#control {
  --section-bg: #{$purple};
}

.btn {
  display: inline-block;
  margin: .5em;
  padding: .5em 2em;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  background-color: rgba($white, .2);
  border: none;
  border-radius: .4em;

  &:hover:not(:disabled) {
    cursor: pointer;
    background: rgba($white, .5);
  }

  &:disabled {
    opacity: .3;
    cursor: not-allowed;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;

  .column {
    flex-basis: 100%;

    @media (min-width: $breakpoint) {
      flex: 1;
    }
  }
}

.text {
  text-align: center;

  @media (min-width: $breakpoint) {
    &.text-right {
      text-align: left;
      order: 2;
    }

    &.text-left {
      text-align: right
    }
  }
}

.img {
  text-align: center;
  position: relative;
  padding: 1rem;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: $breakpoint / 2;
    max-width: 90%;
    width: 70%;
    object-fit: contain;
  }
}

.purple {
  color: $purple;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.primary {
  color: $primary;
}

.center {
  text-align: center;
}
