<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="../css/style.scss">
    <link rel="shortcut icon" href="../img/icon.png" type="image/png">

    <meta name="description" content="{{ site.title }} | {{ site.description }}">
    <meta name="keywords" content="yeelight, desktop, bulb control, xiaomi">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.title }} | {{ site.description }}">
    <meta property="og:locale" content="en">
    <meta property="og:image" content="../img/icon.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.title }} | {{ site.description }}">
    <meta name="twitter:image" content="../img/icon.png">
  </head>

  <body>
    {% block main %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
